<br>

<div class="video-container">
  <video autoplay loop muted playsinline class="vitrine-video" volume="0" #vitrineVideo>
    <source src="nheca.mp4" type="video/mp4">
  </video>
</div>

<br>

<div class="alert alert-info text-center" *ngIf="mensagem.length > 0">
  {{ mensagem }}
  <button class="btn btn-sm btn-outline-secondary ms-2" (click)="limparFiltro()">
    Limpar filtro
  </button>
</div>

<div class="row justify-content-center gap-4">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let obj of lista">
    <div class="card shadow-sm h-100">
      <img [src]="'/' + obj.nomeImg + '/' + obj.nomeImg + '.jpg'" class="card-img-top" alt="{{ obj.nomeImg }}"
        height="150px" style="object-fit: cover; border-radius: 4px; box-shadow: 60px;" />

      <div class="card-body text-center">
        <h5 class="card-title">{{ obj.nome }}</h5>

        <div *ngIf="obj.quantidade > 0" class="text-success fw-bold">
          R$ {{obj.valor | number:'1.2-2'}}
        </div>
        <div *ngIf="obj.quantidade <= 0" class="text-danger fw-bold">
          Vendido
        </div>

        <div class="d-flex justify-content-around mt-3">
          <button class="btn btn-outline-primary btn-sm" (click)="verDetalhe(obj)">
            + Detalhes
          </button>
          <button class="btn btn-outline-success btn-sm" (click)="adicionar(obj)" [disabled]="obj.quantidade <= 0">
            Comprar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>