/* You can add global styles to this file, and also import other style files */

/* GARANTE QUE O PADDING TOP SEJA APLICADO CORRETAMENTE */
router-outlet + * {
  display: block;
  min-height: calc(100vh - 120px);
  padding-top: 70px;
}