<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="tela">
<h3 class="log">Login</h3>
<div class="alerta alert alert-danger role=alert" *ngIf="mensagem.length>0">{{mensagem}}</div>
<div class="caixas">
    <input type="email" [(ngModel)]="obj.email" id="email" class="form-control">
    <label for="email">Digite seu email</label>
</div>
<div class="caixas">
    <input type="password" [(ngModel)]="obj.senha" id="senha" class="form-control">
    <label for="senha">Digite sua senha</label>
</div>
<div class="butao">
    <button (click)="fazerLogin();">Entrar</button>
</div>
<div class="esquece">
    <a href="esqueci">Esqueci minha senha</a>
    <p>/</p>
    <a href="cadastro">Cadastrar</a>
</div>
</div>
</body>
</html>